/CHE
/Generated_Code
/Documentation
/RAM
/AisleController
/SaAnalysispointsManager.apconfig
/Tuner/*
!/Tuner/Tuner.elf
/CHEController/*
!/CHEController/CHEController.elf
/LEDController/*
!/LEDController/LEDController.elf
/.ProcessorExpert.g_c
/.ProcessorExpert.g_x
/ProjectInfo.xml
/Gateway/*
!/Gateway/Gateway.elf
